/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col-1-2 {
  width: 50%;
  float: left;
  text-align: center;
}

.col-2-2 {
  width: 50%;
  float: right;
  text-align: center;
}

/* 
  =======================================
  Custom styles
  =======================================
*/

body {
    background: #77C9D4;
    color: #57BC90;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  color: #015249;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  color: #015249;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight:400;
}

cite,
em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/ 

a {
  color: #015249;
  text-decoration: none;
}

a:hover {
  color: white;
}

p a {
  border-bottom:1px solid #dfe2e5;
}

.teaser a:hover h3{
  color: #015249;
}

.logo {
  font-size: 48px;
  font-weight:100px;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
  text-align:center;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.hover {
  color: white;

}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-float-right {
  width: 33.33%;
  float: right;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  margin-bottom: 22px;
  color: #015249;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}

.btn-alt:hover {
  background: #fff;
  color: #648880;
}

/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  padding: 40px 0 22px 0;
}

.logo a {
  justify-content: center;
}

.primary-header {

}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  color: #015249;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align:center;
}

.hero h2 {
  font-size: 36px;
}

.hero p {
  font-size: 24px;
  font-weight:100;
}

/* 
  =====================================
  Navigation
  =====================================
*/

.nav {
  text-align: right;
  font-weight: bold;
}

.nav li a:hover {
  border-top: solid 2px #015249
}

/*
  =====================================
  Rows
  =====================================
*/ 

.row,
.row-alt {
  min-width: 960px;
}

.row {
  background: #fff;
  min-width: 960px;
  padding: 66px 0 44px 0;
}

.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:   -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:     linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

/* 
  ====================================
  Leads
  ====================================
*/

.lead {
  text-align: center;
}

.lead p {
  font-size: 21px;
  line-height: 33px;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
  text-transform:uppercase;
}

.nav li {
  margin-right:0;
}

/* 
  ====================================
  Services
  ====================================
*/

.services-info {
  margin-top: 88px;
  padding-bottom:: 22px;
  text-align: center;
}

.speaker {
  margin-bottom: 44px;
}

.teaser img {
  border-radius: 5px;
  display:block;
  margin-bottom:22px;
  max-width: 100%
}

.services-info img {
  border-radius:5%;
  height: 130px;
  margin: -66px 0 22px 0
  vertical-align: top;
}

.services {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 20px 20px 20px;
  margin: 20px 0 0 0;
  display:flex;
}

.services img {
  border-radius: 10px;
  width: 260px;
  height: 160px;
  vertical-align: top;
  float: right;
}

.services .col-1-3 img {
  float:right;
}

/*
  ======================================
  Locations
  ======================================
*/

.venue {
  margin-bottom: 66px;
}

.venue {
  margin-bottom: 22px;
}

.venue-map {
  height: 254px;
}

.phone {
  color:blue;
  text-decoration: underline;
}

.phone:hover {
  color:blue;
}



/*
  ======================================
  Register
  ======================================
*/

.why-attend {
  list-style: square;
  margin: 0 0 22px 30px;
}

.form {
  margin-bottom: 22px;
}
input,
select,
textarea{
  font:300 16px/22px "Lato", "Open Sans", "Helvetica Neue", 
  Helvetica, Arial, sans-serif;
}

.register-group label {
  color: #648880;
  cursor: pointer;
  font-weight:400;
}

.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}

.register-group input,
.register-group textarea {
  width: 100%;
}

.register-group select {
  height: 34px;
  width: 60px;
}

.register-group textarea {
  height: 78px;
}

.btn-default {
  border:0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}

.btn-default:hover {
  background: #77a198;
}

/* 
  ===============================
  Schedule
  ===============================
*/

table {
  margin-bottom: 44px;
  width: 100px;
}

table:last-child {
  margin-bottom: 0;
}

th,
td {
  padding-bottom: 22px;
  vertical-align: top;
}

th {
  padding-right: 45px;
  text-align: right;
  width: 20px;
}

td {
  width:40%;
}

thead {
  line-height: 44px;
}

thead th {
  color: #648880;
  font-size: 24px;
}

tbody th {
  color: #a9b2b9;
  font-size: 14px;
  font-weight:400;
  padding-top: 22px;
  text-transform:uppercase;
}

tbody td {
  border-top: 1px solid #dfe2e5;
  padding-top:21px;
}

tbody:first-of-type {
  padding-right: 15px;
}

tbody td:last-of-type {
  padding-left: 15px;
}

tbody td:only-of-type {
  padding-right: 0;
  padding-left: 0;
}

table a {
  color: #888;
}

table h4 {
  margin-bottom: 0;
}

.schedule-offset {
  color: #a9b2b9;
}









